* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

.custom-buttom {
    background-color: #2f5b1f !important;
    border: 0px;
}

.nav-link.active {
    color: #FF0000; /* Cambia el color aquí según tu preferencia */
    background-color: #FFFF00; /* Cambia el color de fondo aquí según tu preferencia */
    /* Puedes agregar otros estilos adicionales para el botón activo si lo deseas */
  }


