* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}